!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    
    - if @display == "raw"
      %title 
        {weblog-title}{separator}{post-title}
    -else 
      %title 
        #{@title} #{@separator} #{@post_title}
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %link{href: "https://cdn.simplecss.org/simple.min.css", rel: "stylesheet"}/

    = haml :stylesheet

  %body
    %header
      %h1.weblog-title
        %i.meteor.fa-solid.fa-meteor>
        - if @display == "raw"
           {weblog-title}
        - else
           #{@title}
    %main
      .row
        .column-left
          %article
            - if @display == "preview"
              = markdown :test_post
              = haml :meta
            - elsif @display == "raw"
              {body}
              .meta
                %i.fa-solid.fa-clock
                {date}
                %br
                {tags}
            %br/
        
        .column-right
          - if @display == "preview"
            = haml :recent
          -elsif @display == "raw"
            %h2 Recent Posts
            {recent-posts}
    %footer
      %p
        Made with
        %a{href: "https://weblog.lol"} weblog.lol